
.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body{
  background:linear-gradient(to right, rgb(255, 88, 88),rgb(41, 121, 251));
  color: white;
  
  font-size: 20px;
}
.title-name{
  font-size: 30px;
  padding: 0;
}
button{
  font-size:70px;
  border-radius: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.jsReset,
.jsAutoplay{
  font-size: 25px;
  box-shadow: 7px 7px 14px rgba(15, 15, 15, 0.7);
  margin-left: 15px;
}

